---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df1 = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df1.columns:
    if col[:2]=='01':
        df1.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df1.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df1.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df1.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df1.index.str.split('\s\(') # split the index by '('

df1.index = names_ids.str[0] # the [0] element is the country name (new index) 
df1['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df1 = df1.drop('Totals')
df1.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df1.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [3]:
def answer_one():
    return df1.Gold.idxmax()

In [4]:
print (answer_one())

United States

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [5]:
def answer_two():
    df2 = df1.copy()
    df2['df'] = df2['Gold'] - df2['Gold.1']
    return df2['df'].idxmax()

In [6]:
print (answer_two())

United States

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [7]:
def answer_three():
    df3 = df1.copy()
    df_a = df3[(df3['Gold'] > 0) & (df3['Gold.1'] > 0)]
    df_b = (df_a['Gold'] - df_a['Gold.1'])/df_a['Gold.2']
    return df_b.idxmax()

In [8]:
print (answer_three())

Bulgaria

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [9]:
def answer_four():
    df1['Points'] = df1['Gold.2']*3+df1['Silver.2']*2+df1['Bronze.2']
    return df1['Points']

In [10]:
print (answer_four())

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [11]:
df = pd.read_csv('census.csv', usecols=['SUMLEV',
                                        'REGION',
                                        'STNAME',
                                        'CTYNAME',
                                        'CENSUS2010POP',
                                        'POPESTIMATE2010',
                                        'POPESTIMATE2011',
                                        'POPESTIMATE2012',
                                        'POPESTIMATE2013',
                                        'POPESTIMATE2014',
                                        'POPESTIMATE2015'])
df = df[df['SUMLEV'] == 50]

In [12]:
print (df.head())

   SUMLEV  REGION   STNAME         CTYNAME  CENSUS2010POP  POPESTIMATE2010  \
1      50       3  Alabama  Autauga County          54571            54660
2      50       3  Alabama  Baldwin County         182265           183193
3      50       3  Alabama  Barbour County          27457            27341
4      50       3  Alabama     Bibb County          22915            22861
5      50       3  Alabama   Blount County          57322            57373

   POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  POPESTIMATE2014  \
1            55253            55175            55038            55290
2           186659           190396           195126           199713
3            27226            27159            26973            26815
4            22733            22642            22512            22549
5            57711            57776            57734            57658

   POPESTIMATE2015
1            55347
2           203709
3            26489
4            22583
5            57673

In [13]:
def answer_five():
    return df.groupby('STNAME')['CTYNAME'].count().sort_values().index[-1]

In [14]:
print (answer_five())

Texas

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [15]:
def answer_six():
    return df.groupby(['STNAME'])['CENSUS2010POP'].sum().sort_values(ascending=False).index[:3]

In [16]:
print (answer_six())

Index(['California', 'Texas', 'New York'], dtype='object', name='STNAME')

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [17]:
def answer_seven():
    mx = df[['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012',
              'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015']].max(axis=1)
    mn = df[['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012',
              'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015']].min(axis=1)
    df['diff'] = mx - mn
    return df.loc[df['diff'].sort_values().index[-1], 'CTYNAME']

In [18]:
print (answer_seven())

Harris County

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [19]:
def answer_eight():
    a = df[(df["REGION"] == 1) | (df["REGION"] == 2)]
    b = a[a.CTYNAME.str.startswith('Washington')]
    c = b[b.POPESTIMATE2015 > b.POPESTIMATE2014]
    return c.loc[:, ['STNAME', 'CTYNAME']]

In [20]:
print (answer_eight())

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County